.faux-tbody,
.faux-td,
.faux-tfoot,
.faux-th,
.faux-thead,
.faux-tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.faux-td {
  display: flex;
  align-items: center;
}

.faux-td .form-check-input {
  margin: 0;
}

.home-button a {
  color: #FFF;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .practice-form-container {
    margin-top: 100px;
    padding: 0 300px;
  }
}