.faux-tbody,
.faux-td,
.faux-tfoot,
.faux-th,
.faux-thead,
.faux-tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.faux-td {
  display: flex;
  align-items: center;
}

.faux-td .form-check-input {
  margin: 0;
}
